/* Main Style */

body {
  background-color: rgb(21, 21, 21);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem; 
  font-weight: 300;
}

ul {
  list-style-type: disc;
  margin-left: 1rem;
}

li {
  padding: 0.2rem;
  margin-bottom: 0.4rem;
}

html {
  scroll-behavior: smooth;
}

/* Resuables */

.center-justify-flex {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Fonts */



/* Header Section */

.header {
  width: 100%;
  overflow: hidden;
  padding: 20px 10px;

  background-color: rgb(21, 21, 21);

  align-items: center;
  justify-content: center;
  display: flex;


  z-index: 1;
}

.header p {
  float: left;
  color: rgb(87, 87, 87);
  text-align: center;
  padding: 12px 7px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;

  line-height: 25px;
  border-radius: 4px;
}

.header-divider {
  float: left;
  color: rgb(87, 87, 87);
  text-align: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.header a, .logo {
  color: rgb(194, 194, 194);
}

.header p.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgb(201, 201, 201);
  position: absolute;
  left: 2%;
}

.header a:hover {
  color: rgb(32, 162, 179);
  cursor: pointer;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* Verticle Header Section */

.vertical-header {
  width: auto;
  height: auto;
  background-color: rgb(21, 21, 21, 0.8);
  position: fixed;
  right: 5px;
  float: right;

  border-radius: 10px;
  padding: 1.8rem 1.2rem;
  text-align: right;

  z-index: 999;
}

.vertical-header a, p {
  font-size: 1.2rem;
  padding: 0.2rem;
}

.vertical-header a:hover {
  color: rgb(32, 162, 179);
  cursor: pointer;
}

.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.vertical-header > p {
  color: rgb(87, 87, 87);
}

.vertical-header a {
  color: rgb(194, 194, 194);
}

/* Footer Section */

footer {
  width: 100%;
  height: 400px;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  background-color: rgb(17, 17, 17);
}

.footer-quote {
  width: 70%;
  

  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;

}

.footer-socials {
	width: 80%;
	height: 40%;


	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.linkedin-icon {
	/*width: var(--iconspacer);*/
  width: 3%;
	aspect-ratio: 1/1;
	background-image: url("../img/Linkin\ B&W.png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.linkedin-icon:hover {
	/*width: var(--iconspacer);*/
  width: 3%;
	aspect-ratio: 1/1;
	background-image: url("../img/Linkin.png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.artstation-icon {
	/*width: var(--iconspacer);*/
  width: 3%;
	aspect-ratio: 1/1;
	background-image: url("../img/Artstation\ Logo\ B&W.png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.artstation-icon:hover {
	/*width: var(--iconspacer);*/
  width: 3%;
	aspect-ratio: 1/1;
	background-image: url("../img/Artstation\ Logo.png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.github-icon {
	/*width: var(--iconspacer);*/
  width: 3%;
	aspect-ratio: 1/1;
	background-image: url("../img/Github\(Grey\).png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.github-icon:hover {
	/*width: var(--iconspacer);*/
  width: 3%;
	aspect-ratio: 1/1;
	background-image: url("../img/Github\(Blue\).png");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}